{{define "edit"}}
{{template "header"}}
<div class="card">
    <div class="card-header">
        Restricciones
    </div>
    <div class="card-body">
        <form method="POST" action="/update">
            <input type="hidden"
                class="form-control" name="id" id="name" aria-describedby="Id" placeholder="" value="{{.Id}}">
            <div class="form-group">
              <label for="Name">Name:</label>
              <input type="text"
                class="form-control" name="name" id="name" aria-describedby="Name" placeholder="" value="{{.Name}}">
              <small id="helpId" class="form-text text-muted">Write Name</small>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" name="description" id="description" rows="3" >{{.Description}}</textarea>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
            <a name="" id="" class="btn btn-primary" href="/" role="button">Cancelar</a>
        </form>
    </div>
</div>
{{template "footer"}}
{{end}}